// PRIMARY COLORS
$color-primary: hsl(233, 47%, 7%);
$color-dark-p: hsl(244, 38%, 16%);
$color-violet: hsl(277, 64%, 61%);

// NEUTRAL
$color-white: #fff;
$color-white-75: rgba(#fff, 0.75);
$color-white-60: rgba(#fff, 0.6);
$color-black: #000;

// FONT-size
$font-default: 15px;
