*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: $font-default;
  background-color: $color-primary;
}
